{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": { "parser": "typescript" }
    },
    {
      "files": ["*.js", "*.mjs", "*.jsx"],
      "options": { "parser": "babel" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    },
    {
      "files": "*.md",
      "options": { "parser": "markdown" }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": { "parser": "yaml" }
    }
  ]
}
